{% extends 'base.html' %}
{% block content %}
<div class="page1">
    <h1>Education</h1>
    <h3>Bachelore of Engineering
    <p>College:Narayana Engineering College,Gudur</P>
    <p>Bachelor’s Degree: Electronics & Communication Engineering</p>
    <p>Passout: 2022–2025</p>
    <p>CGPA:8.7%</p>
    <p>

<div class="page1">
    <h3>Diploma</h3>
    <p>College:Govt.Polytechnic college,chandragiri</p>
    <p>Stream:Electronics & Communication Engineering</p>
    <p>Passout:2019-2022</p>
    <p>CGPA:7.0%</p>

<div class="page1">
    <h3>10th Standard</h3>
    <p>School:Government High School,Pallam</p>
    <p>Board:SSC </p>
    <p>Passout:2018-2019</p>
    <p>CGPA:9.0%</p>
</div>
</div>
</div>


{% endblock %}
