{% extends 'base.html' %}
{% block content %}
<div class="page">
    <h1>Projects</h1>
    <h3>1.Smart Rental Living Plateform</h3>
    <p>➡️Developed a Smart Rental Living Platform using Django framework to simplify property rental management.</p>
    <p>➡️Designed property listing module where owners can add, update, and delete rental properties.</p>
    <p>➡️Enabled tenants to search and filter properties based on location, rent, and amenities.</p>
    <p>➡️Used Django ORM for efficient database operations and data relationships.</p>

    <h3>2.Smart Traffic And Emergency Alert System</h3>
    <p>➡️A Smart Traffic and Emergency Alert System works by using sensors, cameras, and GPS to continuously monitor road traffic conditions.</p>
    <p>➡️When an emergency vehicle like an ambulance or fire truck is detected, the system automatically changes traffic signals to give it a clear path and sends alerts to nearby vehicles and control centers.</p>
    <p>➡️This helps reduce traffic jams, ensures faster emergency response, minimizes accidents, and improves overall road safety and traffic efficiency.</p>
    <p>➡️The system uses real-time data analysis to predict congestion and adjust signal timings dynamically, improving traffic flow even during peak hours.</p>
    <p>➡️It enables centralized monitoring, allowing traffic authorities to track emergencies, respond quickly, and make better decisions using live traffic insights.</p>
</div>
{% endblock %}

